<section class="new-person-page-container">
  <div class="new-person-form-container">
    <h3>Add a new user</h3>
    <form [formGroup]="ngForm" (submit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="ngForm.controls.name.invalid">
          This field value is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          placeholder="example@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="ngForm.controls.email.invalid">
          This field value is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthdate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="ngForm.controls.birthdate.invalid">
          This field value is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <button mat-button type="submit" [disabled]="ngForm.invalid">
        <mat-icon>add</mat-icon>
        New person
      </button>
    </form>
  </div>
</section>
